@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Meta Tagging Service</h1>
    <p>
        To search by fields use the followinf
    </p>
    <ul>
        <li>/Search?terms=field1=value1,field2>value2,field3<>value3 ...</li>
        <li>/api/Search?terms=...</li>
        <li>Operators are: = <> > >= < <=</li>
        <li>For dates use something like dateField=16/may/2018</li>
        <li>For booleans use boolField=true or boolField<>false</li>
    </ul>
</div>
